* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    color: black;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	gap: 40px;
    background-color: #b68121;
}

.window {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 450px;
    width: 350px;
    border-radius: 10px;
    border: 10px solid black;
    background-color: black;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #a4aaa9;
    overflow: hidden; /* Hide overflow content */
}



.top {
    display: flex;
    justify-content: start;
    height: 50%;
    width: 100%;
    font-size: 24px;
}

.bottom {
    display: flex;
    justify-content: end;
    height: 50%;
    width: 100%;
    font-size: 24px;
}

.keypad {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.key {
    margin: 0 auto;
    width: 82px;
    height: 70px;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #bca193;

}

#number {
    background-color: #5e6b32;
}

#operations {
    background-color: #a77721;
}

#op2 {
    background-color: #924e21;
}

#clear {
    background-color: #81392c;
}

.title {
    font-size: 64px;
}

.credit {
    font-size: 24px;
}